.header {
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 0.15em;
    background-image: url('sincerely-media-header.jpg');
    background-position: top 20% center;
    background-size: cover;
    height: 50vh;
    color: #fafafa;
    cursor: default;
}

.header-styled h1 {
    margin-top: 70px;
    margin-left: 20px;
    padding-left: 10px;
    display: inline-flex;
    font-size: 3em;
}

.header-styled p {
    font-size: 1.5em;
    padding-left: 10px;
    margin-left: 20px;
}

.header-styled i {
    display: inline-flex;
    font-size: 3em;
}

.header-styled {
    background-image: linear-gradient(to top, #7b93bd 1rem, #ddbbff00);
    height: 100%;
    width: 100%;
}

@media (min-width: calc(550px + 10vw)) {
    .header-styled {
        padding-left: calc((100vw - 550px) / 2);
        padding-right: calc((100vw - 550px) / 2);
    }
}
