.display-settings {
    padding-bottom: 10px;
    font-size: 0.85em;
    text-align: left;
    max-width: 900px;
}

.select-posts {
    margin-left: 10px;
    font-size: 0.75em;
    color: #7b93bd;
    line-height: 1.3;
    border: 1px solid #aaaaaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.05);
    border-radius: .5em;
}

@media only screen and (max-width: 600px) {
    .display-settings {
        margin-left: 10px;
    }
}